.projects{
    background-color: rgba(255, 255, 255, 1);
    padding: 90px 38px;
    margin:90px 15px 0;
    border-radius: 14px;
}
.project{
    padding: 24px 0 29px;
    border-top:  1px solid rgba(17, 85, 157, 0.16);
    border-radius: 20px;
}
.project:first-child{
    border-top: 1px solid transparent;
}
.projects-content{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
}
.projects-content div{
    width: 208px;
}
.projects-content span{
    font-weight: 500;
    color: rgba(199, 17, 17, 1);
}
.projects-content p{
    width:30%;
    font-weight: 400;
    line-height: 24.59px;

}
.projects-content img{
    width: 38%;
    border-radius: 14px;
    object-fit: cover;
}
.projects-btn{
    width: max-content;
    display: block;
    padding: 16px 34px;
    border-radius: 6px;
    background-color: rgba(199, 17, 17, 1);
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1) !important;
    transition: background-color 0.3s ease;
    margin:8px auto;
}
.projects-btn:hover{
    background-color: rgba(228, 30, 30, 1);
}

@media (max-width: 980px){
    .projects-content{
        flex-wrap: wrap;
    }
    
    .projects-content div{
        width: 100%;
    }
    .projects-content p{
        width: 45%;
    }
    .projects-content img{
        width: 45%;
    }
}
@media (max-width: 750px){
    .projects-content p{
        width: 100%;
    }
    .projects-content img{
        width: 100%;
    }
}

@media (max-width: 500px){
    .projects{
        margin: 0;
        padding: 60px 0px;
    }
    
}